@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}

.swiper-button-next,
.swiper-button-prev {
  color: #03265d !important;
}

.swiper-pagination-bullet {
  background-color: #03265d !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
