@import "tailwindcss";
@plugin "daisyui" {
   themes: light;
}

/* colors */
:root {
  --primary: #5d2797;
  --secondary: #f000b8;
  --accent: #37cdbe;
  --neutral: #3d4451;
  --base-100: #ffffff;
  --info: #2094f3;
  --success: #009485;
  --warning: #ff9900;
  --error: #ff5724;
}